button{
    font-size: 25px !important;
}
.b1:hover{
    background-color: darkred;
}
.b2:hover{
    background-color: rgb(8, 38, 48);
}
canvas{
    animation-name: color;
    animation-duration: 4s;
    animation-iteration-count:infinite;
}
@keyframes color{
    from{box-shadow: 1px 1px 40px blueviolet;}
    to{box-shadow: 1px 1px 40px palevioletred;}
}